{% extends "base.html" %} 
{% block main %}
{% include 'flashes_messages.html' %}
<h1 class="pt-3 pb-3 font-weight-bold">Properties</h1>
<div class="card-layout ">
     {% for property in property%}
        <div class="card ">
            <div class="h-100 w-100">
                <img class="card-img-top " src="{{ url_for('get_image', filename= property.photo) }} " />
            </div>
            <div class="card-body ">
                <h5 class="card-title font-weight-bold ">{{ property.title}}</h5>
                <p class="card-text" style="margin-top:-10px; color:#b3b6ba;"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>{{ property.location}}
                </p>
                <span class="btn btn-primary btn-sm" style="border-radius:15px; cursor:default;">{{"${:,.0f}".format(property.price) }}</span>
            </div>
         <a class="card-footer text-center" href="{{ url_for('showProperty', propertyid= property.propertyid)}}" style=" background-color: #14b7a6; color: #ffffff;text-decoration:none;">View Property</a>
        </div>
    {% endfor %}
</div>    


{% endblock %}